<mat-toolbar color="primary" class="header">
    <mat-button-toggle [value]="'shop'" routerLink="/shop"
        routerLinkActive="mat-button-toggle-checked">Shop</mat-button-toggle>

    <span class="example-spacer"></span>

    <mat-button-toggle [value]="'login'" routerLink="/login"
        routerLinkActive="mat-button-toggle-checked">Login</mat-button-toggle>
    <mat-button-toggle [value]="'register'" routerLink="/register"
        routerLinkActive="mat-button-toggle-checked">Register</mat-button-toggle>
</mat-toolbar>