header {
  min-height: 71px;
}
.example-spacer {
  flex: 1;
}
.header-link {
  text-decoration: none;
  margin: 0 1rem;
}
.mat-button-toggle-checked {
  border: 1px #080808 solid;
  color: #080808;
}
.nav-link {
  margin-left: 1rem;
  font-size: 16px;
}
