@import "../../../styles.scss";

.product-list {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
$margin: 0.4rem;

.product-item {
  margin: $margin;
  height: 48.5rem;
  width: calc(20% - #{$margin * 2});

  @media #{$xl} {
    width: calc(25% - #{$margin * 2});
    height: 41rem;
  }

  @media #{$lg} {
    width: calc(33.33% - #{$margin * 2});
    height: 41rem;
  }

  @media #{$md} {
    width: calc(50% - #{$margin * 2});
    height: 50rem;
  }

  @media #{$sm} {
    width: calc(100% - #{$margin * 2});
    height: 60rem;
  }
}
