<div class="product-list">
  <div class="row">
    <ng-container *ngFor="let product of products$ | async; else: loading">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 product-item">
        <app-product [product]="product"></app-product>
      </div>
    </ng-container>
    <div #loading class="d-flex justify-content-center align-items-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
