.scroll-to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  display: block;
  background-color: rgba(0, 123, 255, 0.3);
  color: #c70000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.scroll-to-top-button img {
  width: 20px;
  height: 20px;
}
