// .card-styled {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
@import '../../../styles.scss';
.product-image-box {
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 61%;
  padding: 0.5rem;
  text-align: center;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  padding: 0.25rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 28%;
  justify-content: space-between;
  align-items: center;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  height: 11%;
  width: 100%;
  align-self: center;
}
.card-title {
  display: flex;
  align-items: center;
  height: 100%;
}
.card-price-section {
  padding: 0 0.5rem;
}
.link {
  align-self: center;
  text-decoration: none;
  color: #212529;
}
$margin: 0.4rem;

.card-styled {
  margin: $margin;
  height: 48.5rem;
  @media #{$xl} {
    height: 43rem;
  }

  @media #{$lg} {
    height: 43rem;
  }

  @media #{$md} {
    height: 50rem;
  }

  @media #{$sm} {
    height: 60rem;
  }
}
.price-text {
  font-size: medium;
  margin: 0;
}
.card-price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rating-text {
  margin: 0;
}
.rating-box {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.rating {
  font-size: medium;
  color: $yellow;
}
