<div class="card login mx-auto col-lg-6 col-12">
  <div class="card-header">
    <h5>Login</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          autocomplete="username"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
          required
        />
        <div
          *ngIf="loginForm.get('email')?.hasError('required')"
          class="text-danger"
        >
          Email is required
        </div>
        <div
          *ngIf="loginForm.get('email')?.hasError('email')"
          class="text-danger"
        >
          Invalid email
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          autocomplete="current-password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <div
          *ngIf="loginForm.get('password')?.hasError('required')"
          class="text-danger"
        >
          Password is required
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
