@import '~bootstrap/dist/css/bootstrap.min.css';
@import './node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';

$sm: '(max-width: 576px)';
$md: '(max-width: 768px) and (min-width: 576px)';
$lg: '(max-width: 992px) and (min-width: 768px)';
$xl: '(max-width: 1200px) and (min-width: 992px)';
$xxl: '(max-width: 1400px) and (min-width: 1200px)';

$card-bg: rgb(209, 209, 209);
$body-bg: #f8f9fa;

html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  width: 98%;
  background-color: $body-bg;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.modal {
  --bs-modal-width: 90%;
}
